.header img {
    float: left;
    margin-right: 10px;
    width: 100px;
    height: 100px;
}
.text {
    padding: 30px;
    text-align: right;
    padding-right: 30px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
}
.text span {
    margin-right: 20px;
}
.content h1{
    color: rgba(7, 119, 248, 0.967);
    padding-top:30px ;
}
.content{
    font-size: 15px;
    font-display: left;
    max-width: 50%;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-image: url(images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.content button{
    background-color: rgb(255, 174, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;

    
}
.content p{
    color: white;
}

@media (max-width: 480px) {
    .text {
        font-size: 14px;
        padding: 20px;
    }

    .content {
        font-size: 13px;
        max-width: 90%;
    }

    .content button {
        font-size: 13px;
        padding: 8px;
    }
}

