*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
}
.wrapper{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100vh;
}
.flag{
    width: 300px;
    height: 200px;
}
.rectangle{
    display: block;
    position: absolute;
    width: 180px;
    height: 198px;
    background: #000000;
    clip-path: polygon(0 0, 0 100%, 60% 50%);
}
.line{
    display: block;
    width: 300px;
    height: 66px;
}
.aquamarine{
    background: #00A9CE;
}
.gold{
    background: #FDDA25;
}
.aquamarine{
    background: #00A9CE;
}